#! /usr/bin/env bash

set -Eeuo pipefail

consul_agent_port={{ consul_agent_port }}
consul_data_dir={{ consul_data_dir }}
consul_nodes_count={{ consul_nodes_count }}

mkdir -p "${consul_data_dir}"

consul agent \
    -server="${consul_nodes_count}" \
    -bind=0.0.0.0 \
    -data-dir="${consul_data_dir}" \
    -http-port="${consul_agent_port}"
