#! /usr/bin/env bash

set -Eeuo pipefail
set -o xtrace

function usage() {
    printf "usage: %s <service>" "$0"
}

function help() {
    usage
    printf
    printf "%s is a pre-run script for systemd services which ensures existence " "$0"
    printf "of log directories for a given <service> and rotating old logs when "
    printf "the service restarts"
    printf
    printf "options and arguments:"
    printf "\\t<service>: the name of the service, used for naming log files"
    printf
    printf "\\t-h|--help: print this help message and exit"
    printf "\\t-d|--debug: enable debug logging"
    printf
}

if [[ $# -lt 1 ]]; then
    usage
    exit 1
fi

service=
while [[ $# -gt 0 ]]; do
    case $1 in
        -h|--help)
            help
            exit 2
            shift
            ;;
        *)
            service=$1
            shift
            ;;
    esac
done

logdir="/var/log/ghost"
logfile="${logdir}/${service}.log"
if [[ -f "${logfile}" ]]; then
    # rotate old log file
    mv "${logfile}" "${logdir}/${service}-$(date +'%Y%m%d_%H%M%S.%N').log"
fi
