#! /usr/bin/env bash

set -Eeuo pipefail

prometheus_dir={{ prometheus_dir }}

${prometheus_dir}/prometheus \
    --config.file=${prometheus_dir}/prometheus.yml \
    --storage.tsdb.path=${prometheus_dir}/data
