[Unit]
Description=consul Agent

[Service]
User=consul
Group={{ service_users_group }}
Type=simple
ExecStartPre={{ base_dir }}/prerun-logrotate.sh consul
ExecStart={{ base_dir }}/consul-agent-service.sh
StandardOutput=file:{{ log_dir }}/consul.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
